<div class="education-container">
  <div class="item">
    <app-courses 
    [degree]="'educacion.1.grado' | translate"
    [institute]="'educacion.1.institucion' | translate"
    date=""
    certificate=""
    id="education1"
    />
  </div>
  <div class="item">
    <app-courses 
    [degree]="'educacion.2.grado' | translate"
    [institute]="'educacion.2.institucion' | translate"
    date="01/12/2022"
    certificate="../../../assets/img/certificates/Scrum_fundamentals_certified.webp"
    id="education2"
    />
  </div>
  <div class="item">
    <app-courses 
    [degree]="'educacion.3.grado' | translate"
    [institute]="'educacion.3.institucion' | translate"
    date="29/12/2022"
    certificate="../../../assets/img/certificates/Docker_Essential_Certificate.webp"
    id="education3"
    />
  </div>
</div>