.course-container{
    padding: 10px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--firts-shadow-color);
    transition: .3s all;
    cursor: pointer;
}
.course-container:hover{
    background: var(--firts-transparent-color);
}

.course-container h4{
    margin-bottom: 0;
    width: 70%;
}
.course-container h6{
    color: var(--letter-ligth-color);
    margin-bottom: 0;
}

.course-container .date{
    position: absolute;
    top: 15px;
    right: 15px;

}

.extended-div{
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: 1s ease;
}
.extended{
    max-height: 2000px;
}
.course-extended{
    background: linear-gradient(0deg, var(--second-color), transparent);
}

.extended-div img{
    width: 100%;
}