<div class="container">
  <div class="item">
    <app-project 
      [title]="'proyectos.1.titulo' | translate"
      date="9/12/2023"
      [images]="['../../../assets/img/projects/portfolio/1.png','../../../assets/img/projects/portfolio/2.png']"
      [technologie]="['Angular v16','TypeScript','HTML','CSS']"
      [description]="'proyectos.1.descripcion' | translate"
      gitlikn="https://github.com"
      id="portfolio1"
    />
  </div>
  <!-- <div class="item">
    <app-project />
  </div>
  <div class="item">
    <app-project />
  </div>
  <div class="item">
    <app-project />
  </div>
  <div class="item">
    <app-project />
  </div>
  <div class="item">
    <app-project />
  </div> -->
</div>