<div class="container">
  <div class="item">
    <app-project 
      [title]="'proyectos.1.titulo' | translate"
      [images]="[
        '../../../assets/img/projects/portfolio/1.webp',
        '../../../assets/img/projects/portfolio/2.webp',
        '../../../assets/img/projects/portfolio/3.webp',
        '../../../assets/img/projects/portfolio/4.webp']"
      [technologie]="['angular']"
      [description]="'proyectos.1.descripcion' | translate"
      [little_description]="'proyectos.1.descripcionCorta' | translate"
      gitlink="https://github.com"
      link=""
      id="portfolio"
    />
  </div>
</div>