<div class="skills">
  <div class="svg-titles">
    <span>{{'habilidades.lenguajes' | translate}}</span>
    <div class="svg-container">
      <!-- recordar que los svg se pueden obtener en  https://devicon.dev y crear los archivos svg a mano modigicando los archivos-->
      <img src="../../assets/icons/css.svg" alt="CSS" id="css" title="CSS">
      <img src="../../assets/icons/html5.svg" alt="HTML5" id="html5" title="HTML5">
      <img src="../../assets/icons/js.svg" alt="JavaScript" id="js" title="JavaScript">
      <img src="../../assets/icons/ts.svg" alt="TypeScript" id="ts" title="TypeScript">
      <img src="../../assets/icons/python.svg" alt="Python" id="python" title="Python">
      <img src="../../assets/icons/csharp.svg" alt="C#" id="cshard" title="C#">
      <img src="../../assets/icons/c.svg" alt="C" id="c" title="C">
    </div>
  </div>
  <div  class="svg-titles">
    <span>Frontend</span>
    <div class="svg-container">
      <img src="../../assets/icons/angular.svg" alt="Angular" id="angular" title="Angular">
      <img src="../../assets/icons/react.svg" alt="React" id="react" title="React">
      <img src="../../assets/icons/redux.svg" alt="Redux" id="redux" title="Redux">
    </div>
  </div>
  <div class="svg-titles">
    <span>Backend</span>
    <div  class="svg-container">
      <img src="../../assets/icons/expresjs.svg" alt="Express" id="epress" title="Epress.js">
      <img src="../../assets/icons/dotnet.svg" alt=".Net" id="dotnet" title=".Net">
      <img src="../../assets/icons/django.svg" alt="Django" id="django" title="Django">
    </div>
  </div>
  <div class="svg-titles">
    <span>{{'habilidades.bd' | translate}}</span>
    <div class="svg-container">
      <img src="../../assets/icons/mssql.svg" alt="MSSQL" id="mssql" title="Microsoft SQL">
      <img src="../../assets/icons/mysql.svg" alt="MySQL" id="mysql" title="MySQL">
      <img src="../../assets/icons/postgresql.svg" alt="PostgreSQL" id="postgresql" title="PostgreSQL">
    </div>
  </div>
  <div class="svg-titles">
    <span>Mobil</span>
    <div class="svg-container">
      <img src="../../assets/icons/kotlin.svg" alt="Kotlin" id="Kotlin" title="Kotlin">
    </div>
  </div>
</div>
