<!-- <div class="project-container" title="" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + id + 'Modal'"> -->
<div class="project-container" title="" >
  <div [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + id + 'Modal'">
    <img src="{{images[0]}}" alt="cover">
    <div class="tittle-tech">
      <h4>{{title}}</h4>
      <div class="technologies">
        <img *ngFor="let tech of technologie" src="{{selectTech(tech)}}" alt="{{tech}}"/>
      </div>
    </div>
    <p>{{little_description}}</p>  
  </div>
  <div class="buttons">
    <button *ngIf="gitlink != undefined" (click)="openNewTab(gitlink)">
      <img src="../../../assets/icons/github.svg" alt="">
      <span>
        {{'proyectos.boton1' | translate}}
      </span>
    </button>
    <button *ngIf="link != undefined" (click)="openNewTab(link)">
      <img src="../../../assets/icons/link.svg" alt="">
      <span>
        {{'proyectos.boton2' | translate}}
      </span>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="{{id+'Modal'}}" tabindex="-1" title="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" >{{title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="{{id+'Carousel'}}" class="carousel slide">
          <div class="carousel-inner">
            <div *ngFor="let image of images; let isFirst = first" [ngClass]="{'carousel-item': true, 'active': isFirst}">
              <img src="{{image}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + id + 'Carousel'" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + id + 'Carousel'" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <h6 [innerHTML]="description"></h6>
      </div>
    </div>
  </div>
</div>