.container{
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 0.5vw;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: .4s;
    box-shadow: 0px 0px 10px var(--firts-shadow-color);
}
.container-extended{
    background: linear-gradient(0deg, var(--second-color), transparent);
}

.container:hover{
    background: var(--firts-transparent-color);
    border-radius: 10px;
}

.buldding{
    font-size: .9rem;
    color: var(--letter-ligth-color);
}

.container hr{
    width: 30%;
    margin: 2px;
}

.expander-div {
    transition: 0.5s;
    max-height: 0;
    overflow: hidden;
    padding-bottom: 0px;
}

.extended {
    transition: 1s;
    max-height: 2000px; /* Puedes ajustar este valor según tus necesidades */
    padding-bottom: 0px;
}

.technologies{
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.tittle{
    margin-top: 10px;
    color: var(--letter-color);
    margin-bottom: 8px;
}

.technologies img{
    width: 50px;
    filter: drop-shadow(0 0 4px #ffffff49);
}

.description{
    width: 90%;
    margin-left: 2vw;
    margin-top: 0px;
}

.month{
    color: var(--letter-second-ligth-color);
    margin-bottom: 5px;
}