html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin_Sans';
    user-select: none;
    background-color: var(--firts-color);
}

.modal-backdrop {
  z-index: -1;
  background-color: transparent;
}

html::-webkit-scrollbar {
    width: 5px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #ff762772;
    border-radius: 6px;
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: #ff7627;
  }
  html::-webkit-scrollbar-track {
    background-color: #001924;
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: #001924 #202020;
  }
  html:hover {
    scrollbar-color: #001924 white;
  }
@font-face {
    font-family: 'Josefin_Sans';
    src: url('assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  --firts-color: #001924;
  --second-color: #002832;
  --third-color: #003846;
  --forth-color: #ff7527;
  --five-color: #ef4207;
  --six-color: #ff762792;
  --letter-color: #7fa5b4;
  --letter-ligth-color: #4e7a8c;
  --letter-second-ligth-color: #436577;
  --firts-transparent-color: #ffffff0b;
  --firts-shadow-color: #0000003f;
  --second-shadow-color: #;
}
